main {
    margin-left: 200px;
}



body.theme-index {
    background-color: #0a0a0f;
}
body.theme-taidot {
    background-image: url(images/taustakuva.png);
    background-repeat: no-repeat;
    background-position: center 30%;
    background-attachment: fixed;
    background-size: cover;
}
body.theme-portfolio {
    background-color: #4b3621;
}



.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    align-items: center;
    justify-content: space-between;
}
body.theme-index .sidebar {
    background-color: #1a1a22;
    border-right: 2px solid #fff600;
    box-shadow: 0 0 6px #fff600, 0 0 12px #fff600;
}
body.theme-taidot .sidebar {
    background-color: #101218;
}
body.theme-portfolio .sidebar {
    background-color: #3e4f2f;
    border-right: 3px solid #2b1f14;
    box-shadow: inset -2px 0 6px rgba(0,0,0,0.6);
}


.sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.sidebar-top .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}



.nimi {
    text-align: center;
    cursor: pointer;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
body.theme-index .sidebar .nimi {
    color: #fff600;
    font-family: 'Chakra Petch', sans-serif;
    text-shadow: 0 0 5px #ffb600, 0 0 10px #ffb600, 0 0 20px #ffb600;
    transition: text-shadow 0.3s ease;
}
body.theme-taidot .sidebar .nimi {
    font-family: 'Source Code Pro';
    color: #aab0b8;
}
body.theme-portfolio .nimi{
    font-family: 'Playfair Display', serif;
    color: #d4af37;
    text-shadow: 1px 1px 0 #b87333, -1px -1px 0 #ffe699;
}



body.theme-index .nimi:hover {
    text-shadow: 0 0 10px #ffb600, 0 0 20px #ffb600, 0 0 40px #ffb600;
}



.sidebar-title {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}
body.theme-index .sidebar-title {
    color: #fff600;
    font-family: 'Chakra Petch', sans-serif;
}
body.theme-taidot .sidebar-title {
    font-family: 'Source Code Pro';
    color: #aab0b8;
}
body.theme-portfolio .sidebar-title {
    color: #ede0c8;
    font-family: 'Playfair Display', serif;
}



.sidebar .nav-link {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    border: 1px transparent;
}
body.theme-index .sidebar .nav-link {
    color: #fff600;
    font-family: 'Chakra Petch', sans-serif;
}
body.theme-taidot .sidebar .nav-link {
    font-family: 'Source Code Pro';
    color: #aab0b8;
}
body.theme-portfolio .sidebar .nav-link {
    color: #ede0c8;
    font-family: 'IM Fell English', serif;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}


.nav-link:hover {
    transform: scale(1.1);
}
body.theme-index .sidebar .nav-link:hover {
    color: #00ffff;
    border: 1px solid #00ffff;
    border-radius: 0.2rem;
}
body.theme-portfolio .sidebar .nav-link:hover {
    color: #bb7333;
    text-shadow: 0 1px 0 #00000090, 0 -1px 0 #ffd7a0
}



.some-linkit {
    margin-top: auto;
    display: flex;
}



.some-linkit i {
    font-size: 1rem;
    transition: color 0.3s ease;
}
body.theme-index .some-linkit i {
    color: #00ffff;
}
body.theme-portfolio .some-linkit i {
    color: #ede0c8;
}



.some-linkit i:hover {
    transform: scale(1.2);
}
body.theme-index .some-linkit i:hover {
    color: #b300ff;
}
body.theme-portfolio .some-linkit i:hover {
    color: #bb7333;
}



.mobile-header {
    position: fixed;
    top: 0; left: 0;
    height: 50px; width: 100%;
    background: #222;
    z-index: 2000;
    padding: 0 15px;
    display: flex; align-items: center; justify-content: center;
}
body.theme-index .mobile-header {
    color: #fff600;
    background-color: #1a1a22;
    font-family: 'Chakra Petch';
    text-shadow: 0 0 5px #fff600, 0 0 10px #fff600, 0 0 15px #fff600;
}
body.theme-taidot .mobile-header {
    color: #aab0b8;
    font-family: 'Source Code Pro';
}
body.theme-portfolio .mobile-header {
    background-color: #3e4f2f;
    color: #ede0c8;
    text-shadow: 1px 1px 0 #c5b89c, -1px -1px 0 #fff9e6;
    font-family: 'Playfair Display', serif;
}



.mobile-bar {
    position: fixed;
    top: 50px; left: 0;
    width: 100%; height: 55px;
    background: #333;
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 15px;
    z-index: 2000;
    color: #fff;
    font-size: 1.2rem;
}
body.theme-index .mobile-bar {
    background-color: #1a1a22;
    font-family: 'Chakra Petch', sans-serif;
    color: #fff600;
    text-shadow: 0 0 5px #ffb600, 0 0 10px #ffb600,  0 0 15px #ffb600;
}
body.theme-taidot .mobile-bar {
    color: #aab0b8;
    font-family: 'Source Code Pro';
}
body.theme-portfolio .mobile-bar {
    background-color: #3e4f2f;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #d4af37;
    text-shadow: 1px 1px 0 #b87333, -1px -1px 0 #ffe699;
}



.custom-hamburger {
    background-color: #fff;
    color: #222;
    border: none;
    font-size: 1.2rem;
}
body.theme-index .custom-hamburger {
    background-color: #1a1a22;
    color: #fff600;
}
body.theme-taidot .custom-hamburger {
    background-color: transparent;
    color: #aab0b8;
}
body.theme-portfolio .custom-hamburger {
    background-color: #3e4f2f;
    color: #d4af37;
    text-shadow: 1px 1px 0 #b87333, -1px -1px 0 #ffe699;
}



#mobileMenu {
    z-index: 2200;
    top: 50px;
}



body.theme-portfolio .offcanvas-header {
    background-color: #3e4f2f;
}



body.theme-portfolio .offcanvas-body {
    background-color: #3e4f2f;
}



.offcanvas-title {
    font-size: 1.2rem;
}
body.theme-index .offcanvas-title {
    color: #fff600;
    font-family: 'Chakra Petch', sans-serif;
    text-shadow: 0 0 5px #ffb600, 0 0 10px #ffb600, 0 0 15px #ffb600;
}
body.theme-taidot .offcanvas-title {
    color: #aab0b8;
    font-family: 'Source Code Pro';
}
body.theme-portfolio .offcanvas-title {
    font-family: 'Playfair Display', serif;
    color: #d4af37;
    text-shadow: 1px 1px 0 #b87333, -1px -1px 0 #ffe699;
    font-weight: bold;
}



body.theme-index .offcanvas-body a {
    color: #fff600;
    font-family: 'Chakra Petch', sans-serif;
}
body.theme-taidot .offcanvas-body a {
    color: #aab0b8;
    font-family: 'Source Code Pro';
}
body.theme-portfolio .offcanvas-body a {
    color: #ede0c8;
    font-family: 'IM Fell English', serif;
}

#section-index h1 {
    font-family: 'Chakra Petch', sans-serif;
    color: #fff600;
}

#section-index .banner {
    border: 2px solid #00ffff;
}

#section-index .banner-img {
    justify-content: center;
}





@media (max-width: 991px) {
    main { margin-left: 0; margin-top: 105px; }
}

@media (min-width: 1200px) {
    main { margin-left: 280px; }
    .sidebar { width: 280px; }
    .some-linkit i { font-size: 1.5rem; }
    .sidebar .nimi { font-size: 2.5rem; }
    .sidebar-title { font-size: 1.4rem; }
    .sidebar .nav-link { font-size: 1.2rem; }
}

@media (min-width: 1920px) {
    main { margin-left: 380px; }
    .sidebar { width: 380px; padding-top: 4rem; padding-bottom: 4rem; }
    .some-linkit i { font-size: 2rem; }
    .sidebar .nimi { font-size: 3.5rem; }
    .sidebar-title { font-size: 1.9rem; }
    .sidebar .nav-link { font-size: 1.7rem; }
    body.theme-index .sidebar { border-right: 4px solid #fff600; box-shadow: 0 0 8px #fff600, 0 0 16px #fff600; }
}

@media (min-width: 2560px) {
    main { margin-left: 500px; }
    .sidebar { width: 500px; padding-bottom: 6rem;}
    .some-linkit i { font-size: 2.5rem; }
    .sidebar .nimi { font-size: 4.4rem; }
    .sidebar-title { font-size: 2.5rem;}
    .sidebar .nav-link { font-size: 2.3rem; }
}