main {
    margin-left: 200px;
}


body.theme-index {
    background-color: #0a0a0f;
}
body.theme-taidot {
    background-image: url(images/piirilevy.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
body.theme-portfolio {
    background-color: #4b3621;
}
   


.mobile-header {
    position: fixed;
    top: 0; left: 0;
    height: 50px; width: 100%;
    background: #222;
    z-index: 2000;
    display: flex; align-items: center; justify-content: center;
}
body.theme-index .mobile-header {
    color: #fff600;
    background-color: #1a1a22;
    font-family: 'Chakra Petch', sans-serif;
    text-shadow: 0 0 5px #fff600, 0 0 10px #fff600, 0 0 15px #fff600;
}
body.theme-taidot .mobile-header {
    color: #aab0b8;
    font-family: 'Source Code Pro', monospace;
}
body.theme-portfolio .mobile-header {
    color: #d4af37;
    font-family: 'IM Fell English SC', serif;
}



.mobile-bar {
    position: fixed;
    top: 50px; left: 0;
    width: 100%; height: 55px;
    background: #333;
    display: flex; align-items: center; justify-content: space-between;
    z-index: 2000;
    color: #fff;
    padding: 0 15px;
}
body.theme-index .mobile-bar {
    background-color: #1a1a22;
    font-family: 'Chakra Petch', sans-serif;
    color: #fff600;
    text-shadow: 0 0 5px #ffb600, 0 0 10px #ffb600,  0 0 15px #ffb600;
}
body.theme-taidot .mobile-bar {
    color: #aab0b8;
    font-family: 'Source Code Pro', monospace;
}
body.theme-portfolio .mobile-bar {
    background-color: #3e4f2f;
    font-family: 'IM Fell English SC', serif;
    color: #d4af37;
}



.custom-hamburger {
    background-color: #fff;
    color: #222;
    border: none;
    font-size: 1.3rem;
}
body.theme-index .custom-hamburger {
    background-color: #1a1a22;
    color: #fff600;
}
body.theme-taidot .custom-hamburger {
    background-color: transparent;
    color: #aab0b8;
}
body.theme-portfolio .custom-hamburger {
    background-color: #3e4f2f;
    color: #d4af37;
}



body.theme-portfolio .offcanvas-header {
    background-color: #3e4f2f;
}



body.theme-portfolio .offcanvas-body {
    background-color: #3e4f2f;
}



body.theme-index .offcanvas-title {
    color: #fff600;
    font-family: 'Chakra Petch', sans-serif;
    text-shadow: 0 0 5px #ffb600, 0 0 10px #ffb600, 0 0 15px #ffb600;
}
body.theme-taidot .offcanvas-title {
    color: #aab0b8;
    font-family: 'Source Code Pro', monospace;
}
body.theme-portfolio .offcanvas-title {
    font-family: 'IM Fell English SC', serif;
    color: #d4af37;
}



body.theme-index .offcanvas-body a {
    color: #fff600;
    font-family: 'Chakra Petch', sans-serif;
}
body.theme-taidot .offcanvas-body a {
    color: #aab0b8;
    font-family: 'Source Code Pro', monospace;
}
body.theme-portfolio .offcanvas-body a {
    color: #ede0c8;
    font-family: 'Special Elite', system-ui;
}



#mobileMenu {
    z-index: 2200;
    top: 50px;
}



.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    align-items: center;
    justify-content: space-between;
}
body.theme-index .sidebar {
    background-color: #1a1a22;
    border-right: 2px solid #fff600;
    box-shadow: 0 0 6px #fff600, 0 0 12px #fff600;
}
body.theme-taidot .sidebar {
    background-color: #101218;
    opacity: 0.5;
}
body.theme-portfolio .sidebar {
    background-color: #3e4f2f;
    border-right: 3px solid #2b1f14;
    box-shadow: inset -2px 0 6px rgba(0,0,0,0.6);
}



.sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.sidebar-top .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}



.nimi {
    text-align: center;
    cursor: pointer;
    margin-bottom: 2rem;
}
body.theme-index .sidebar .nimi {
    color: #fff600;
    font-family: 'Chakra Petch', sans-serif;
    text-shadow: 0 0 5px #ffb600, 0 0 10px #ffb600, 0 0 20px #ffb600;
    transition: text-shadow 0.3s ease;
}
body.theme-taidot .sidebar .nimi {
    font-family: 'Source Code Pro', monospace;
    color: #aab0b8;
}
body.theme-portfolio .nimi{
    font-family: 'IM Fell English SC', serif;
    color: #d4af37;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.75);
}



body.theme-index .nimi:hover {
    text-shadow: 0 0 10px #ffb600, 0 0 20px #ffb600, 0 0 40px #ffb600;
}



.sidebar .titteli {
    text-align: center;
    margin-bottom: 2rem;
}
body.theme-index .sidebar .titteli {
    color: #fff600;
    font-family: 'Chakra Petch', sans-serif;
}
body.theme-taidot .sidebar .titteli {
    font-family: 'Source Code Pro', monospace;
    color: #aab0b8;
}
body.theme-portfolio .sidebar .titteli {
    color: #d4af37;
    font-family: 'IM Fell English SC', serif;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.75);
}



.sidebar .nav-link {
    display: block;
    width: 100%;
    text-align: center;
    border: 1px transparent;
}
body.theme-index .sidebar .nav-link {
    color: #fff600;
    font-family: 'Chakra Petch', sans-serif;
}
body.theme-taidot .sidebar .nav-link {
    font-family: 'Source Code Pro', monospace;
    color: #aab0b8;
}
body.theme-portfolio .sidebar .nav-link {
    color: #ede0c8;
    font-family: 'Special Elite', system-ui;
    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.6), 0px 2px 1px rgba(0, 0, 0, 0.4);
}



.nav-link:hover {
    transform: scale(1.1);
}
body.theme-index .sidebar .nav-link:hover {
    color: #00ffff;
    border: 1px solid #00ffff;
    border-radius: 0.2rem;
}
body.theme-portfolio .sidebar .nav-link:hover {
    color: #bb7333;
}



.some-linkit {
    margin-top: auto;
    display: flex;
}



.some-linkit i {
    transition: color 0.3s ease;
}
body.theme-index .some-linkit i {
    color: #00ffff;
}
body.theme-portfolio .some-linkit i {
    color: #ede0c8;
}



.some-linkit i:hover {
    transform: scale(1.2);
}
body.theme-index .some-linkit i:hover {
    color: #b300ff;
}
body.theme-portfolio .some-linkit i:hover {
    color: #bb7333;
}



#section-index .banner {
    border: 2px solid #00ffff;
    border-radius: 1rem;
    background-color: #111217;
}



#section-index .banner-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#section-index h1 {
    font-family: 'Chakra Petch', sans-serif;
    color: #fff600;
    text-align: center;
}



#section-index, #slouganKaruselli {
    font-family: 'Chakra Petch', sans-serif;
    color: #00ffff;
    width: 100%;
    text-align: center;
}



#section-index .btn-banneri {
    color: magenta;
    border: 1px solid magenta;
}



#section-index .banner-img {
    justify-content: center;
}



#section-index table.table,
#section-index table.table th,
#section-index table.table td {
    background-color: transparent !important;
    color: #00ffff;
    border-bottom: 1px solid #fff600;
}



#section-portfolio {
    width: 100%;
    height: 100%;
}
#section-portfolio .isoratas {
    position: fixed;
    z-index: -1;
    pointer-events: none;
    opacity: 0.3;
}
#section-portfolio .isoratas1 img,
#section-portfolio .isoratas3 img {
    height: 100vh;
    animation: rotateCW 120s linear infinite;
}
#section-portfolio .isoratas2 img,
#section-portfolio .isoratas4 img {
    height: 100vh;
    animation: rotateCCW 120s linear infinite;
}
#section-portfolio .isoratas1 {
    transform: translate(-50%, -50%);
}
#section-portfolio .isoratas2 {
    right: 0;
    transform: translate(50%, -50%);
}
#section-portfolio .isoratas3 {
    right: 0;
    transform: translate(50%, 50%);
}
#section-portfolio .isoratas4 {
    transform: translate(-50%, 50%);
}
@keyframes rotateCW {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes rotateCCW {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg);}
}



#section-portfolio h1 {
    font-family: 'IM Fell English SC', serif;
    color: #d4af37;
    padding-top: 3rem;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
}



@media (max-width: 991px) {
    main { margin-left: 0; margin-top: 105px; }
}
@media (min-width: 1200px) {
    main { margin-left: 280px; }
    .sidebar { width: 280px; }
}
@media (min-width: 1920px) {
    main { margin-left: 380px; }
    .sidebar { width: 380px; padding-top: 4rem; padding-bottom: 4rem; }
    body.theme-index .sidebar { border-right: 4px solid #fff600; box-shadow: 0 0 8px #fff600, 0 0 16px #fff600; }
}
@media (min-width: 2560px) {
    main { margin-left: 500px; }
    .sidebar { width: 500px; padding-bottom: 6rem;}
}